/* font style code  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Embed code end  */
{


. bebas-neue-regular
  font-family: "Bebas Neue", sans-serif;

. roboto:
  font-family: "Roboto", sans-serif;
  }

/* Embed code end  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* nav bar start  */
.main-contener{
    width: 100%;
    height: 100vh;
    background-color: #FFFBF0;
    position: relative;
    /* padding: 10px 80px;
    overflow: hidden; */
}
 nav .contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    padding: 0 5%;
}
nav .contener .logo{
    width: 291.11px;
    height: 39.27px;
}
nav .contener ul a{
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    text-transform: capitalize;
}
/* nav :hover start  */
nav .contener ul a:hover{
    background-color: #FABE4C;
    border-radius: 10px;
    /* padding: 5px 20px; */
}
/* nav :hover end  */

nav .contener ul{
    list-style: none;
    display: flex;
    /* padding: 20px; */
    gap: 20px;
}
/* nav bar end  */

/* main-content start */

.main-content{
    position: relative;
    /* height: 85%; */
    /* width: 100%; */
    height: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.main-content .hero-left-item{
    width: 50%;
    padding-right: 50px;
    padding-top: 100px;
}

.hero-left-item .hero-left-title span{
    color: #FABE4C;
}
.hero-left-item .hero-left-title .ofWinte{
    color: #363958;
}
.hero-left-item .hero-left-title{
    font-size: 80px;
    font-weight: 500;
}
.hero-left-item p{
    color: #3E3E3E;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
    font-family: "Roboto", sans-serif;
}
.hero-left-item .primary-but{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 33px;
    color: white;
    /* color: black; */
    /* background-color: white; */
    /* border: 1px solid #85A019; */
    border: none;
    background-color: #85A019;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease;
    
}

.hero-left-item .primary-but2{
    padding: 10px 33px;
    color: black;
    background-color: white;
    border: 1px solid #85A019;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease;
    
}
.hero-left-item .primary-but:hover{
    background-color: #FABE4C;
    color: black;
}

.hero-left-item .primary-but2:hover{
    background-color: #FABE4C;
    color: black;
    border: 1px solid #FABE4C;
}
.main-content .hero-right-logo{
    width:50%;
    height: auto;

    /* width: 549px;
    height: 559px; */
    padding-top: 60px;
}
.hero-right-logo img{
    /* width: 100%; */
    
}

/* main-content end */

/* products card start  */
.products-section{
    width: 100%;
    /* background-color: #df4040; */
    padding: 20px 0 80px;
}
.product-contener{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    font-size: 48px;
    font-weight: 500;
    color: #363958;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 21px;
}

.product-contener .product-card{
    height: 620px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 10px #f3f1f1;
    border: 2px solid #ffffff;
    overflow: hidden;

}
.product-contener .card-img-top{
    width: 90%;
    height: 400px;
    padding: 30px;
    border-color: #0a74df;
    border-radius: 20px;
    background-color: #F1F1F1;
    margin: 20px;
}

.card-body{
    margin-left: 20px;
} 
.card-title{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #363958;
    margin-bottom: 13px;
}
.card-body .card-text{
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
    margin-bottom: 21px;
}
.card-body .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 79px; */
    font-size: 20px;
    font-weight: bold;
    color: #FABE4C;
    font-family: "Roboto", sans-serif;
}
.price .primary-but{
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 400;
    padding: 18px 33px;
    color: white;
    /* color: black; */
    /* background-color: white; */
    /* border: 1px solid #85A019; */
    border: none;
    background-color: #85A019;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    transition: 0.1s ease;
}
.products-grid{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}