@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.root{
  font-family: "Roboto", sans-serif;
  font-family: "Bebas Neue", sans-serif;

  --box-shadow: 0 .5rem 1.5rem rgba(253, 13, 13, 0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* nav bar star  */
.main-contener{
    width: 100%;
    height: 100vh;
    background-color: #FFFBF0;
    position: relative;
}
.contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 100;
    padding: 0 5%;
}
.contener img{
    width: 291.11px;
    height: 39.27px;
}
.contener ul li a{
    color: #3C3C3C;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}
.contener ul{
    display: flex;
    gap: 20px;
}
.contener ul li{
    display: flex;
    list-style: none;
}

.contener ul li:hover{
    background-color:#FABE4C;
    border-radius: 10px;
    align-items: center;

}
    /* nav bar end */

/* -------------Hero section start -------------- */

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 5%;
}
.hero-section .hero-left{
    width: 450px;
}
.hero-left h1{
    font-size: 80px;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    color: #363958;
}
.hero-left h1 span{
    color: #FABE4C;
}

.hero-left p{
    color: #3E3E3E;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.hero-left .primary-but{
    font-size: 1rem;
    font-weight: 400;
    background-color: #85A019;
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #85A019;
    transition: 0.1s ease;
}
.hero-left .primary-but2{
    font-size: 1rem;
    font-weight: 400;
    background-color: #FABE4C;
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    border: 1px solid #FABE4C;
}

.hero-left button:hover{
    background-color: #FFFFFF;
    color: black;
}

/* ------------product section start------------------ */
.features{
    width: 100%;
    padding: 0 5%;
    margin-bottom: 40px;
}
.features .headding h1{
    font-size: 48px;
    font-weight: 500;
    color: #363958;
    font-family: "Roboto", sans-serif;
    align-items: first baseline;
    margin-top: 90px;
    margin-bottom: 5px;
}
.features .box {
    width: 350px;
    height: 600px;
    max-width: 1400px;
    padding: 1.5rem;
    background-color: white;
    outline: .1rem solid #85A019;
    border-radius: 10px;
    box-shadow: 0 1.5rem 2rem #dfdcdc;
    /* box-shadow: 0 .5rem 2rem rgb(245, 242, 242); */

}
.features .box img{
    width: 300px;
    height: 400px;
    background-color: #F1F1F1;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
}

.box .details h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #363958;
    font-family: "Roboto", sans-serif;
}
.box .details p{
    font-size: 1rem;
    font-weight: 400;
    color: #363958;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}
.box .price{
    display: flex;
    justify-content: space-between;
}
.box .price h1{
    font-size: 2.2rem;
    font-weight: bold;
    color: #FABE4C;
}
.box .price .card-but{
    font-size: 1rem;
    font-weight: 400;
    background-color: #85A019;
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #85A019;
    transition: 0.1s ease;
}

.box-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
/* ------------product section end------------------ */


.about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 1;
    align-items: center;
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5%;
    gap: 83px;
   
}
.about-contener{
    width: 40%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.left-icon img{
    width: 70;
    height: 70px;
    padding: 5px;
    margin-left: 10px;
}
.about-content{
    width: 450px;
    height: 135px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 20px #f3f1f1;
    border: 2px solid #ffffff;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}
.icon-text h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}
.icon-text p{
    font-size: 15px;
    font-weight: 400;
}
.about-right-logo img{
    width: 100%;
}
/* ---------------about section start --------------- */
